@import "tailwindcss";

:root {
  --background: #ECEBE7; /* Light beige background */
  --foreground: #835133; /* Deep brown text */
}

@theme inline {
  --color-primary: #D4A373;
  --color-hero: #8F684F;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #FAEDCD;
  --color-accent: #835133;
  --color-dark-accent: #6a4934;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}