@import "tailwindcss";

:root {
  --background: #ECEBE7; /* Light beige background */
  --foreground: #835133; /* Deep brown text */
}

@theme inline {
  --color-primary: #D4A373;
  --color-primary-hover: #C68D60;
  --color-primary-active: #AC7C56;
  --color-hero: #8F684F;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #FAEDCD;
  --color-secondary-active: #D8CAAE;
  --color-accent: #835133;
  --color-dark-accent: #6a4934;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-brand: var(--font-dancing-script), cursive;

  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}